// Copyright (c) 2026 stefand-0
// SPDX-License-Identifier: SHL-2.1
//
// Licensed under the Solderpad Hardware License, Version 2.1 (the "License");
// you may not use this file except in compliance with the License, or,
// at your option, the Apache License version 2.0.
// You may obtain a copy of the License at
//
// https://solderpad.org/licenses/SHL-2.1/
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.


IO_LOC "clk" 47;
IO_PORT "clk" IO_TYPE=LVCMOS33;

IO_LOC "rst" 13;
IO_PORT "rst" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "load_en" 44;
IO_PORT "load_en" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "start" 38;
IO_PORT "start" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "data_bit_in" 9;
IO_PORT "data_bit_in" IO_TYPE=LVCMOS33;

IO_LOC "key_bit_in" 10;
IO_PORT "key_bit_in" IO_TYPE=LVCMOS33;

IO_LOC "cipher_bit_out" 11;
IO_PORT "cipher_bit_out" IO_TYPE=LVCMOS33;

IO_LOC "done" 16;
IO_PORT "done" IO_TYPE=LVCMOS33;

